.leaflet-container {
    height: 720px !important;
}

.current-forecast-weather-popup {
    width: 400px !important;
}

.current-forecast-weather-popup .current-forecast-weather {
    width: 115% !important;
}